{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>Patient info</h1>
<form>
  <fieldset class="form-group">
    <label for="PatientID">PatientID</label>
    <input class="form-control" id="PatientID" placeholder="Patient ID">
  </fieldset>
  <fieldset class="form-group">
    <label for="SexSelect">Sex</label>
    <select class="form-control" id="SexSelect">
      <option>Male</option>
      <option>Female</option>
    </select>
  </fieldset>
  <fieldset class="form-group">
    <label for="ClinicalInfo">Clinical info</label>
    <textarea class="form-control" id="ClinicalInfo" placeholder="Enter clinical info about the patient" rows="3"></textarea>
  </fieldset>
  <fieldset class="form-group">
    <label for="HSMInputFile">File input</label>
    <input type="file" class="Load hsmetrics-file" id="HSMInputFile">
    <small class="text-muted">Load a hsmetrics-file containing QC-info for the sample.</small>
  </fieldset>  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

{% endblock %}
