{% extends 'base.html' %}
{% block content %}

<div class="container">
	<div class="row">
   <div class="col-md-10 col-xs-offset-1 col-md-offset-1">        
     <h1>Report for: {{ pID }}</h1>
   </div>
 </div>
 <div class="row">
  <div class="col-sm-5">
   <dl class="dl-horizontal">
    <dt>Patient ID</dt>
    <dd>{{ pID_patient.PID }}</dd>
    <dt>Family ID</dt>
    <dd>{{ pID_patient.familyID }}</dd>
    <dt>Panel</dt>
    <dd>{{ pID_patient.panel_name }}</dd>
    <dt>Sex</dt>
    <dd>{{ pID_patient.sex }}</dd>
    <dt>Clinical info</dt>
    <dd>{{ pID_patient.clinInfo }}</dd>
  </dl>
</div>
<div class="col-sm-7">
 <table class="table" id="data">
  <thead>
    <tr>
      <th style="padding-top: 4px;">Mean Target <br>Coverage</th>
      <th style="padding-top: 4px; width=50%;">% bases > 20 X</th>
      <th style="padding-top: 4px;" class="tooltip-table-header" >% bases > 30 X</th>
      <th style="padding-top: 4px;" class="tooltip-table-header" >Mean insert size</th>
      <th style="padding-top: 4px;" class="tooltip-table-header" >Median insert size</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ pID_patient.mean_target_cov }}</td>
      <td>{{ pID_patient.pct_target_20 }}</td>
      <td>{{ pID_patient.pct_target_30 }}</td>
      <td>{{ pID_patient.mean_is }}</td>
      <td>{{ pID_patient.median_is }}</td>
    </tr>
  </tbody>
</table>
</div>
</div>
<hr>
<h5>What should come below:</h5>
<p>Have to provide a dict or list from Flask, and use Jinja to iterate with a couple of br`s in between.</p>
<span><p>A snippet for each variant, with:</p></span>
<p>Gene: ; cNOMEN</p>
<hr>


{% for item in var_items %}
<div class="row">
 
  <div class="col-md-6">

    <dl class="dl-horizontal">
      <dt>Position:</dt>
      <dd>Chr{{ item.chrom }}:{{ item.start }}-{{ item.stop }} {{ item.ref }} {{ item.alt }}</dd>            
      <dt>Zygosity:</dt>
      <dd>{{ item.zygosity }}</dd>
      <dt>Gene</dt>
      <dd>{{ item.gene }}</dd>
      <dt>gDNA: </dt>
      <dd>{{ item.cDNA }}</dd>
      <dt>cDNA: </dt>
      <dd>{{ item.cDNA }}</dd>
      <dt>protein: </dt>
      <dd>{{ item.protein }}</dd>
      
      
      
    </dl>
  </div>
  <div class="col-md-6">
    <dl class="dl-horizontal">
      <dt>HGMD ID:</dt>
      <dd> {{ item.hgmdId }} </dd>
      <dt>Clinvar phenotype:</dt>
      <dd> {{ item.clinVarPhenotypes }} </dd>




    </dl>
  </div>
</div>
<dt>Comments:</dt>
<dd>{{ item.comments }}</dd>


<hr>
{% endfor %}
<!--

$('#agene').text(data.gene)
    $('#atrans').text(data.transcript)
    $('#agDNA').text(data.gNomen)
    $('#acDNA').text(data.cNomen)
    $('#aprot').text(data.pNomen)
    $('#atype').text(data.codingEffect)
    $('#hgmdId').text(data.hgmdId)
    $('#hgmdPhenotype').text(data.hgmdPhenotype)
    $('#hgmdSubCategory').text(data.hgmdSubCategory)
    $('#clinVarPhenotypes').text(data.clinVarPhenotypes)
    $('#adbsnp').text(data.rsId)
    $('#a1kg').text(data.rsMAF)
    $('#aESP').text(data.espAllMAF+ "(" + data.espAltAllCount + "/" + data.espRefAllCount + ")" )
    $('#aExac').text(data.exacAllFreq + "(" + data.exacAlleleCount + ")" )
    $('#aProtDom1').text(data.proteinDomain1)
    $('#aProtDom2').text(data.proteinDomain2)
    $('#aProtDom3').text(data.proteinDomain3)
    $('#Exon').text(data.exon)
    $('#alaclass').text(data.pathogenicityClass)
    $('#granthamDist').text(data.granthamDist)
    $('#comments').val(comments)
    $('#pub2varID').val(ID)
    $('#zygo').text(zyg)
    $('#mgmseen').text('Kommer!')
    $('funcStud').text('Kommer!')
  -->


</div>
{% endblock %}