{% extends 'base.html' %}
{% block content %}

<!--  A CSS class that have been used to change color of selected row in table. -->
<style>
.highlight { background-color: red; }
</style>

<!-- Choose a row of a table and use some method on it. In this case, change background color. -->
<script type=text/javascript>
  $(function() {
  //fill the patient info modal with info on the specific patient in case you want to alter some values.
  $('#pID_Modal').on('shown.bs.modal', function (e) {
  $('#sex').val('{{ pID_patient.sex }}');
  $('#panel').val('{{ pID_patient.panel_name }}');
  $('#clinInfo').val('{{ pID_patient.clinInfo }}');
  $('#familyID').val('{{ pID_patient.familyID }}');
  $('#hsmFileUpload').val('{{ pID_patient.hsmFileUpload }}');
  $('#fragmentSizeUpload').val('{{ pID_patient.fragmentSizeUpload }}');
})
//get from variant table @ click:
$('#test tr').click(function () {
    var chrom = $(this).closest("tr").find('td:eq(0)').text();
    var start = $(this).closest("tr").find('td:eq(1)').text();
    var stop = $(this).closest("tr").find('td:eq(2)').text();
    var ref = $(this).closest("tr").find('td:eq(3)').text();
    var alt = $(this).closest("tr").find('td:eq(4)').text();
    alert(chrom + "|" + start + "|" + stop + "|" + ref + "|" + alt);
});
});
</script>

<div class="container">
	<div class="row">
	<div class="col-md-10 col-xs-offset-1 col-md-offset-1">        
    	<h1>Interpretation window for: {{ pID }}</h1>       
      <hr>
	</div>
	</div>
	<div class="row">
		<div class="col-sm-5">
			<dl class="dl-horizontal">
				<dt>Patient ID</dt>
				<dd>{{ pID_patient.PID }}</dd>
				<dt>Family ID</dt>
				<dd>{{ pID_patient.familyID }}</dd>
				<dt>Panel</dt>
				<dd>{{ pID_patient.panel_name }}</dd>
				<dt>Sex</dt>
				<dd>{{ pID_patient.sex }}</dd>
				<dt>Clinical info</dt>
				<dd>{{ pID_patient.clinInfo }}</dd>
			</dl>
  		</div>
		<div class="col-sm-7">
			<table class="table" id="data">
                        <thead>
                            <tr>
                                <th style="padding-top: 4px;">Mean Target <br>Coverage</th>
                                <th style="padding-top: 4px; width=50%;">% bases > 20 X</th>
                                <th style="padding-top: 4px;" class="tooltip-table-header" >% bases > 30 X</th>
                                <th style="padding-top: 4px;" class="tooltip-table-header" >Mean insert size</th>
                                <th style="padding-top: 4px;" class="tooltip-table-header" >Median insert size</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ pID_patient.mean_target_cov }}</td>
                                <td>{{ pID_patient.pct_target_20 }}</td>
                                <td>{{ pID_patient.pct_target_30 }}</td>
                                <td>{{ pID_patient.mean_is }}</td>
                                <td>{{ pID_patient.median_is }}</td>
                            </tr>
                        </tbody>
                    </table>
  			</div>
  		</div>
      <div class="row">
      <div class="col-sm-1"></div>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pID_Modal">edit patient info</button> 
      </div>
  		<div class="row"><hr></div>
  	<div class="row">
  	<div class="col-sm-1"></div>
  		<div class="col-sm-8">
  			<h3>Table of interpreted variants</h3>
  			{{ var_table }}
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-sm-4"></div>
  		<!-- Trigger the modal with a button -->
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Enter variant</button>	
  		<!-- Modal -->
			<div id="myModal" class="modal fade" role="dialog">
  			<div class="modal-dialog">
    		<!-- Modal content-->
    		<div class="modal-content">
      		<div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal">&times;</button>
        	<h4 class="modal-title">Enter variant</h4>
      		</div>
      		<div class="modal-body">
        	<p>Fill inn variant identification and get data from Alamut</p>
			    <form action="" method=POST enctype="multipart/form-data">
          {{ form.hidden_tag() }}
        		<fieldset class="form-group">
    			{{ form.chrom.label }}
          {{ form.chrom(class="form-control") }}
				</fieldset>
				<fieldset class="form-group">
    			{{ form.start.label }}
    			{{ form.start(class="form-control") }}
				</fieldset>
				<fieldset class="form-group">
    			{{ form.stop.label }}
    			{{ form.stop(class="form-control") }}
				</fieldset>
				<fieldset class="form-group">
    			{{ form.ref.label }}
    			{{ form.ref(class="form-control") }}
    			</fieldset>
    			<fieldset class="form-group">
    			{{ form.alt.label }}
    			{{ form.alt(class="form-control") }}
				</fieldset>
				<fieldset class="form-group">
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-default">Get from Alamut</button>
					            {{ form.submit(class="btn btn-primary") }}
                    </div>
                </fieldset>
				</form>
      		</div>
      		<div class="modal-footer">
        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
          </div>
        </div>
      </div>


<!-- Modal -->
      <div id="pID_Modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit info for sample: {{ pID }}</h4>
          </div>
          <div class="modal-body">
          <form action="" method=POST enctype="multipart/form-data">
            {{ pform.hidden_tag() }}
            <fieldset class="form-group">
                {{ pform.sex.label }}
                {{ pform.sex(class="form-control") }}
            </fieldset>
            <fieldset class="form-group">
                {{ pform.panel.label }}
                {{ pform.panel(class="form-control") }}
            </fieldset>
            <fieldset class="form-group">
                {{ pform.clinInfo.label }}
                {{ pform.clinInfo(class="form-control") }}
            </fieldset>
            <fieldset class="form-group">
                {{ pform.familyID.label }}
                {{ pform.familyID(class="form-control") }}
            </fieldset>
        <fieldset class="form-group">
          <div class="col-sm-10">
            {{ pform.submit(class="btn btn-primary") }}
          </div>
        </fieldset>
        </form>
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
          </div>
        </div>
      </div>
  	</div>
  </div>
{% endblock %}