{% extends 'base.html' %}
{% block content %}

<!-- Choose a row of a table and use some method on it. In this case, change background color. -->
<script type=text/javascript>
  $(function() {
    $('#comment').val('{{ patient_comment }}')
    // hide ID col of table
    $('#variant_table td:nth-child(1),th:nth-child(1)').hide();
    // hide signed col of table
    $('#variant_table td:nth-child(14),th:nth-child(14)').hide();
    //tooltip on classes form selector
    $('#inhouse_class').tooltip({'trigger':'focus', 'title': 'Inhouse Class', 'placement': 'right'});
    $('#acmg_class').tooltip({'trigger':'focus', 'title': 'ACMG Class', 'placement': 'right'});
  
  
   //Check if a ref & alt is letter as opposed to -. And also check if length == 1. This would mean missense.
 function isOneLetter(str) {
  return str.length === 1 && str.match(/[a-z]/i);
}
function isLetter(str) {
  return str.match(/[a-z]/i);
}
// Check if variant is:
// missense
// del
// insertion
// duplication -> get_alamut
$('#get_alamut').click(function () {
  var chrom = $('#chrom').val()
  var start = $('#start').val()
  var stop = $('#stop').val()
  var ref = $('#ref').val()
  var alt = $('#alt').val()
  var assembly = "(GRCh37)"
  var alamut_request = "" 
// Get input 
if (isOneLetter(ref) && isOneLetter(alt)) {
  var alamut_request = "chr" + chrom  +assembly + ":g." + start + ref + ">" + alt
} else if (isLetter(ref) && isLetter(alt) !== true) {
  var alamut_request = "chr" + chrom + assembly + ":g." + start + "_" + stop + "del"
} else if ( isLetter(ref) !== true && isLetter(alt)) {
  var alamut_request = "chr" + chrom + assembly + ":g." + start + "_" + stop + "ins" + alt
}  
 $.getJSON("http://localhost:10000/show?request=" + alamut_request + "&synchronous=true", function(result){
    $.ajax({
      type: "POST",
      contentType: "application/json; charset=utf-8",
      url: "/showdb/" + '{{ pID }}',
      data: JSON.stringify(result),
      success: function (data) {
        alert("ferdig " + chrom +"-"+ start +" "+ stop +" "+ ref +" "+ alt)
      },
      dataType: "json"
    });
  });     
});
  
  
  //   
  //on click of: submitcDNARequest get value from: cDNARequest
  $('#submitcDNARequest').click(function () {
    var alamut_request_cDNA = $('#cDNARequest').val()
  // maa testes
  $.getJSON("http://localhost:10000/show?request=" + alamut_request_cDNA + "&synchronous=true", function(result){
    $.ajax({
      type: "POST",
      contentType: "application/json; charset=utf-8",
      url: "/showdb/" + '{{ pID }}',
      data: JSON.stringify(result),
      success: function (data) {
        alert("ferdig " + chrom +"-"+ start +" "+ stop +" "+ ref +" "+ alt)
      },
      dataType: "json"
    });
  }); 
});
  //Then run request
  //fill the patient info modal with info on the specific patient in case you want to alter some values.
  $('#pID_Modal').on('shown.bs.modal', function (e) {
    $('#sex').val('{{ pID_patient.sex }}');
    $('#panel').val('{{ pID_patient.panel_name }}');
    $('#clinInfo').val('{{ pID_patient.clinInfo }}');
    $('#familyID').val('{{ pID_patient.familyID }}');
    $('#hsmFileUpload').val('{{ pID_patient.hsmFileUpload }}');
    $('#fragmentSizeUpload').val('{{ pID_patient.fragmentSizeUpload }}');
  })
//get from variant table @ click:
$('#variant_table tr').click(function () {
  var ID = $(this).closest("tr").find('td:eq(0)').text();
  var chrom = $(this).closest("tr").find('td:eq(1)').text();
  var start = $(this).closest("tr").find('td:eq(2)').text();
  var stop = $(this).closest("tr").find('td:eq(3)').text();
  var ref = $(this).closest("tr").find('td:eq(4)').text();
  var alt = $(this).closest("tr").find('td:eq(5)').text();
  var zyg = $(this).closest("tr").find('td:eq(6)').text()
  var comments = $(this).closest("tr").find('td:eq(12)').text()

  $('#agene').text('')
  $('#atrans').text('')
  $('#agDNA').text('')
  $('#aprot').text('')
  $('#atype').text('')
  $('#ahgmd').text('')
  $('#adbsnp').text('')
  $('#a1kg').text('')
  $('#aESP').text('')
  $('#aExac').text('')
  $('aProtDom').text('')
  //alamut variables:
  $.getJSON($SCRIPT_ROOT + '/_return_alamut_for_variant', {
    id: parseInt(ID)
  }, function(data) {
    $('#agene').text(data.gene)
    $('#atrans').text(data.transcript)
    $('#agDNA').text(data.gNomen)
    $('#acDNA').text(data.cNomen)
    $('#aprot').text(data.pNomen)
    $('#atype').text(data.codingEffect)
    $('#hgmdId').text(data.hgmdId)
    $('#hgmdPhenotype').text(data.hgmdPhenotype)
    $('#hgmdSubCategory').text(data.hgmdSubCategory)
    $('#clinVarPhenotypes').text(data.clinVarPhenotypes)
    $('#adbsnp').text(data.rsId)
    $('#a1kg').text(data.rsMAF)
    $('#aESP').text(data.espAllMAF+ "(" + data.espAltAllCount + "/" + data.espRefAllCount + ")" )
    $('#aExac').text(data.exacAllFreq + "(" + data.exacAlleleCount + ")" )
    $('#aProtDom1').text(data.proteinDomain1)
    $('#aProtDom2').text(data.proteinDomain2)
    $('#aProtDom3').text(data.proteinDomain3)
    $('#Exon').text(data.exon)
    $('#alaclass').text(data.pathogenicityClass)
    $('#granthamDist').text(data.granthamDist)
    $('#comments').val(comments)
    $('#pub2varID').val(ID)
    $('#zygo').text(zyg)
    $('#mgmseen').text('Kommer!')
    $('funcStud').text('Kommer!')
    $('#varLocation').text(data.varLocation)  
    $('#localSpliceEffect').text(data.localSpliceEffect)
    $('#rsClinicalSignificance').text(data.rsClinicalSignificance)
    $('#exacNFEFreq').text(data.exacNFEFreq)
    $('#espEAMAF').text(data.espEAMAF + "(" + data.espAltEACount + ")" + data.espRefEACount)
    $('#clinVarClinSignifs').text(data.clinVarClinSignifs)
    $('#conservedOrthos').text(data.conservedOrthos)
    $('#AGVDclass').text(data.AGVGDclass)
    $('#SIFTPrediction').text(data.SIFTprediction)
    $('#TASTERprediction').text(data.TASTERprediction)
  });
  console.log("test")
  //$('.variant_info').html(chrom + " " + start + " " + stop);
  $('#Interp_Modal').modal('show');
  $('#varid').val(String(chrom)+'|'+String(start)+'|'+String(stop)+'|'+String(ref)+'|'+String(alt))
  //alert(chr + "|"+ start+ "|"+stop+ "|"+ref+ "|"+alt)
});


});
</script>


<div class="container">
	<div class="row">
   <div class="col-md-10">        
     <h1>Interpretation window for: {{ pID }}</h1>
   </div>
 </div>
 <div class="row">
  <div class="col-sm-5">
   <dl class="dl-horizontal">
    <dt>Patient ID</dt>
    <dd>{{ pID_patient.PID }}</dd>
    <dt>Family ID</dt>
    <dd>{{ pID_patient.familyID }}</dd>
    <dt>Panel</dt>
    <dd>{{ pID_patient.panel_name }}</dd>
    <dt>Disease categor</dt>
    <dd>{{ pID_patient.disease_category }}</dd>
    <dt>Sex</dt>
    <dd>{{ pID_patient.sex }}</dd>
    <dt>Clinical info</dt>
    <dd>{{ pID_patient.clinInfo }}</dd>
  </dl>
</div>
<div class="col-sm-7">
 <table class="table" id="data">
  <thead>
    <tr>
      <th style="padding-top: 4px;">Mean Target <br>Coverage</th>
      <th style="padding-top: 4px; width=50%;">% bases > 20 X</th>
      <th style="padding-top: 4px;" class="tooltip-table-header" >% bases > 30 X</th>
      <th style="padding-top: 4px;" class="tooltip-table-header" >Mean insert size</th>
      <th style="padding-top: 4px;" class="tooltip-table-header" >Median insert size</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ pID_patient.mean_target_cov }}</td>
      <td>{{ pID_patient.pct_target_20 }}</td>
      <td>{{ pID_patient.pct_target_30 }}</td>
      <td>{{ pID_patient.mean_is }}</td>
      <td>{{ pID_patient.median_is }}</td>
    </tr>
  </tbody>
</table>
</div>
</div>
<div class="row">
  <div class="col-sm-1">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pID_Modal">edit patient info</button> 
  </div>
  <div class="col-sm-1 col-sm-offset-10">
    <a href="{{ url_for('report') }}/{{ pID }}">
    <button type="button" class="btn btn-primary">Produce report</button> 
    </a>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-6" >
    <h5>Comment regarding this interpretation/analysis</h5>
    <form action="{{ url_for('showdb') }}/{{ pID }}" method=POST enctype="multipart/form-data">
      {{ iform.hidden_tag() }}
      <fieldset class="form-group">
        {{ iform.comment(class="form-control", placeholder="This should fill with info is a comment is already present") }}
      </fieldset>
      <fieldset class="form-group">
        {{ iform.submit(class="btn btn-primary") }}
      </fieldset>
    </form>
  </div>
</div>
<div class="row"><hr></div>
<div class="row">
  <div class="col-md-12"> 
  <h3>Table of variants</h3>
  {{ var_table }}
 </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Enter variant</button>
  </div>
  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
   <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal">&times;</button>
       <h4 class="modal-title">Enter variant</h4>
     </div>
     <div class="modal-body">
       <p>Fill inn variant identification and get data from Alamut</p>
       <form action="{{ url_for('showdb') }}/{{ pID }}" method=POST enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="row">
          <div class="col-sm-6">
            <fieldset class="form-group">
             {{ form.chrom.label }}
             {{ form.chrom(class="form-control") }}
           </fieldset>
         </div></div>
         <div class="row">
          <div class="col-sm-6">
           <fieldset class="form-group">
             {{ form.start.label }}
             {{ form.start(class="form-control") }}
           </fieldset>
           <fieldset class="form-group">
             {{ form.ref.label }}
             {{ form.ref(class="form-control") }}
           </fieldset>
           <fieldset class="form-group">
             {{ form.zyg.label }}
             {{ form.zyg(class="form-control") }}
           </fieldset>
         </div>
         <div class="col-sm-6">
           <fieldset class="form-group">
             {{ form.stop.label }}
             {{ form.stop(class="form-control") }}
           </fieldset>
           <fieldset class="form-group">
             {{ form.alt.label }}
             {{ form.alt(class="form-control") }}
           </fieldset>       
           <fieldset class="form-group">
             {{ form.denovo.label }}
             {{ form.denovo(class="form-control") }}
           </fieldset>
         </div>
       </div>
       <div class="row">
         <div class="col-sm-3">
           <fieldset class="form-group">          
             {{ form.submit(class="btn btn-primary") }}
           </fieldset>
         </form>
       </div>
       <div class="col-sm-2">
         <button id="get_alamut" type="button" class="btn btn-default">Get Alamut</button>
         
       </div>
     </div>
   </div>

   <div class="modal-footer">
     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
   </div>
 </div>
</div>
</div>
<!-- Modal -->
<div id="pID_Modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit info for sample: {{ pID }}</h4>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('showdb') }}/{{ pID }}" method=POST enctype="multipart/form-data">
          {{ pform.hidden_tag() }}
          <fieldset class="form-group">
            {{ pform.sex.label }}
            {{ pform.sex(class="form-control") }}
          </fieldset>
          <fieldset class="form-group">
            {{ pform.panel.label }}
            {{ pform.panel(class="form-control") }}
          </fieldset>
          <fieldset class="form-group">
            {{ pform.clinInfo.label }}
            {{ pform.clinInfo(class="form-control") }}
          </fieldset>
          <fieldset class="form-group">
            {{ pform.dis_category.label }}
            {{ pform.dis_category(class="form-control") }}
          </fieldset>
          <fieldset class="form-group">
            {{ pform.familyID.label }}
            {{ pform.familyID(class="form-control") }}
          </fieldset>
          <fieldset class="form-group">
            <div class="col-sm-10">
              {{ pform.submit(class="btn btn-primary") }}
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="Interp_Modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit info for the variant in sample: {{ pID }}</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-sm-6">
            <dl class="dl-horizontal">
              <dt>Gene</dt>
              <dd id="agene"></dd>
              <dt>Transcript</dt>
              <dd id="atrans"></dd>
              <dt>gDNA</dt>
              <dd id ="agDNA"></dd>
              <dt>cDNA</dt>
              <dd id ="acDNA"></dd>
              <dt>Protein change</dt>
              <dd id="aprot"></dd>
              <dt>Type of mutation</dt>
              <dd id="atype"></dd>
              <dt>Variant location</dt>
              <dd id="varLocation"></dd>
              <dt>localSpliceEffect</dt>
              <dd id="localSpliceEffect"></dd>
              
              <dt>Conserved orthos</dt>
              <dd id="conservedOrthos"></dd>
              
              <dt>AGVDclass</dt>
              <dd id="AGVDclass"></dd>
              <dt>SIFTPrediction</dt>
              <dd id="SIFTPrediction"></dd>
              <dt>TASTERprediction</dt>
              <dd id="TASTERprediction"></dd>
              
              
              <dt>Protein domain 1</dt>
              <dd id="aProtDom1"></dd>
              <dt>Protein domain 2</dt>
              <dd id="aProtDom2"></dd>
              <dt>Protein domain 3</dt>
              <dd id="aProtDom3"></dd>
              <dt>HGMD ID</dt>
              <dd id="hgmdId"></dd>
              <dt>HGMD pheno</dt>
              <dd id="hgmdPhenotype"></dd>
              <dt>HGMD class</dt>
              <dd id="hgmdSubCategory"></dd>
              <dt>Clinvar phenotype</dt>
              <dd id="clinVarPhenotypes"></dd>
              <dt>Clinvarclinsign</dt>
              <dd id="clinVarClinSignifs"></dd>
            </dl>
          </div>

          <div class="col-sm-6">
            <dl class="dl-horizontal">
              <dt>AlamutClass</dt>
              <dd id="alaclass">some text</dd>
              <dt>Grantham score</dt>
              <dd id="granthamDist"></dd>
              <dt>dbSNP</dt>
              <dd id="adbsnp"></dd>
              <dt>rsClinicalSignificance</dt>
              <dd id="rsClinicalSignificance"></dd>
              <dt>1000 genomes(?)</dt>
              <dd id="a1kg"></dd>
              <dt>ESP (all)</dt>
              <dd id="aESP"></dd>
              <dt>espEAMAF</dt>
              <dd id="espEAMAF"></dd>
              <dt>Exac (all)</dt>
              <dd id="aExac"></dd>
              <dt>exacNFEFreq</dt>
              <dd id="exacNFEFreq"></dd>
              <dt>Exon</dt>
              <dd id="Exon"></dd>
              <dt>Zygosity</dt>
              <dd id="zygo"></dd>
              <dt>Seen @ MGM</dt>
              <dd id="mgmseen"></dd>
              <dt>Functional studies</dt>
              <dd if="funcStud"></dd>
            </dl>
          </div>
        </div>
        <hr>
        
        <!-- -->
        <h5 data-toggle="collapse" href="#publications_collapsible" aria-expanded="false" aria-controls="collapsePublications">
          Add a publication
        </h5>
        <div class="collapse" id="publications_collapsible">
          <div class="well">
            <form action="{{ url_for('showdb') }}/{{ pID }}" method=POST enctype="multipart/form-data">
              {{ pubForm.hidden_tag() }}
              <fieldset class="form-group">
                {{ pubForm.PMID(class="form-control", placeholder="PMID") }}
              </fieldset>
              <div class="input-group">
                <fieldset class="form-group">
                  {{ pubForm.reference(class="form-control", placeholder="Reference") }}
                </fieldset>

                <fieldset class="form-group">
                  {{ pubForm.year(class="form-control", placeholder="Year") }}
                </fieldset>
              </div>
              <fieldset class="form-group">
                {{ pubForm.pcomment(class="form-control", placeholder="Comments/info") }}
              </fieldset>
              <fieldset class="form-group">
                {{ pubForm.pub2varID(class="form-control") }}
              </fieldset>
              <fieldset class="form-group">
                {{ pubForm.submit(class="btn btn-primary") }}
              </fieldset>
            </form>
            <!-- <input class="btn btn-primary" id="submitcDNARequest" name="cDNAsubmit" type="submit" value="submit"> -->
          </div>
        </div>
        
        <!-- -->
        <h5 data-toggle="collapse" href="#cDNARequest_collapsible" aria-expanded="false" aria-controls="collapseExample">
          Alamut request 
        </h5>
        <div class="collapse" id="cDNARequest_collapsible">
          <div class="well">
            <input class="form-control" id="cDNARequest" name="cDNARequest" placeholder="NM_12341.4:c.234C>G" type="text" value="">
            <br>
            <input class="btn btn-primary" id="submitcDNARequest" name="cDNAsubmit" type="submit" value="submit">
          </div>
        </div>
        
        <hr>
        <!-- -->

        <h5>Comments regarding this specific variant?</h5>
        <!-- -->
        <form action="{{ url_for('showdb') }}/{{ pID }}" method=POST enctype="multipart/form-data">
          {{ varIntForm.hidden_tag() }}
          <fieldset class="form-group">

            {{ varIntForm.comments(class="form-control", placeholder="This should fill with info is a comment is already present") }}
          </fieldset>
          <div class="row">
            <div class="input-group">
              
              <div class="col-sm-6">
                <fieldset class="form-group">
                  {{ varIntForm.inhouse_class(class="form-control") }}
                </fieldset>
              </div>
              <div class="col-sm-6">
                <fieldset class="form-group">
                  {{ varIntForm.acmg_class(class="form-control") }}
                </fieldset>
              </div>
            </div>
          </div>

          <fieldset class="form-group">
            {{ varIntForm.varid(class="form-control") }}
          </fieldset>
          <fieldset class="form-group">
            {{ varIntForm.submit(class="btn btn-primary") }}
          </fieldset>
        </form>
    
        <!-- should contain two text inputs and a class selector along with a ACMGclass button-->
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" role="button">
          Delete variant
        </a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
</br></br></br>
</div>
{% endblock %}