{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
<div class="container">
    <h1>Patient info</h1>
	<form action="{{ url_for('testinput') }}" method=post>
	<fieldset class="form-group">
    {{ form.patient_ID.label }}
    {{ form.patient_ID(class="form-control", placeholder="Patient ID") }}
	</fieldset>
	<fieldset class="form-group">
    {{ form.familyID.label }}
    {{ form.familyID(class="form-control", placeholder="Family ID") }}
	</fieldset>
	<fieldset class="form-group">
    {{ form.sex.label }}
    {{ form.sex(class="form-control") }}
	</fieldset>
	<fieldset class="form-group">
    {{ form.clinInfo.label }}
    {{ form.clinInfo(class="form-control", placeholder="Enter clinical info about the patient") }}
	</fieldset>
	<fieldset class="form-group">
    {{ form.hsmFileUpload.label }}
    {{ form.hsmFileUpload(class="Load hsmetrics-file") }}
	<small class="text-muted">Load a hsmetrics-file containing QC-info for the sample.</small>
	</fieldset>
     {{ form.submit(class="btn btn-primary") }}
  </form>
</div>
</div>
{% endblock %}
