{% extends 'base.html' %}
{% block content %}
<script type=text/javascript>
  $(function() {
    //find empty cols, and hide or make them grey
    $("dd:empty").prev().andSelf().css('opacity', '0.5');
    $( "dd[name|='pub']:contains('None')").parent('dl').css('opacity', '0.5');
    $("dd:contains('None')").prev().andSelf().css('opacity', '0.5');

  });
</script>
<div class="container">
	<div class="row">
   <div class="col-md-10">
     <h1>Report for: {{ pID }}</h1>
   </div>
 </div>
 <div class="row">
  <div class="col-sm-5">
   <dl class="dl-horizontal">
    <dt>Patient ID</dt>
    <dd>{{ pID_patient.PID }}</dd>
    <dt>Family ID</dt>
    <dd>{{ pID_patient.familyID }}</dd>
    <dt>Panel</dt>
    <dd>{{ pID_patient.panel_name }}</dd>
    <dt>Sex</dt>
    <dd>{{ pID_patient.sex }}</dd>
    <dt>SBS</dt>
    <dd>{{ pID_patient.sbs }}</dd>
    <dt>Clinical info</dt>
    <dd>{{ pID_patient.clinInfo }}</dd>
  </dl>
</div>
<div class="col-sm-7">
 <table class="table" id="data">
  <thead>
    <tr>
      <th style="padding-top: 4px;">Mean Target <br>Coverage</th>
      <th style="padding-top: 4px; width=50%;">% bases > 20 X</th>
      <th style="padding-top: 4px;" class="tooltip-table-header" >% bases > 30 X</th>
      <th style="padding-top: 4px;" class="tooltip-table-header" >Mean insert size</th>
      <th style="padding-top: 4px;" class="tooltip-table-header" >Median insert size</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ pID_patient.mean_target_cov }}</td>
      <td>{{ pID_patient.pct_target_20 }}</td>
      <td>{{ pID_patient.pct_target_30 }}</td>
      <td>{{ pID_patient.mean_is }}</td>
      <td>{{ pID_patient.median_is }}</td>
    </tr>
  </tbody>
</table>
</div>

<div class="col-sm-1 col-sm-offset-10">
  <a href="{{ url_for('showdb') }}/{{ pID }}">
  <button type="button" class="btn btn-primary">Back to interpretation</button>
  </a>
</div>

</div>
<div class="row">
<div class="col-sm-4">
<hr>
<dl class="dl-horizontal">
<dt>Patient comment:</dt>
<dd>{{ filtus_and_comment[0] }}</dd>
</dl>
</div>
<div class="col-sm-8">
<hr>
<dl class="dl-horizontal">
<dt>Filtus settings:</dt>
<dd>{{ filtus_and_comment[1]| replace("\r\n", "<br>")|safe  }}</dd>
</dl>
</div>
</div>

<h3>Interpreted variants for {{ pID }}:</h3>
<hr>

{% for item in var_items|sort(attribute='inclass')|reverse %}
<div class="row">
  
  <div class="panel panel-primary">
    <div class="panel-heading">{{ item.transcript }}:c.{{ item.cDNA }} {{ item.protein }}</div>
    <div class="panel-body">
  <div class="col-md-6">
    <dl class="dl-horizontal">
      <dt>Position:</dt>
      <dd>Chr{{ item.chrom }}:{{ item.start }}-{{ item.stop }} {{ item.ref }} {{ item.alt }}</dd>
      <dt>Zygosity:</dt>
      <dd>{{ item.zygosity }}</dd>
      <dt>Gene</dt>
      <dd>{{ item.gene }}</dd>
      <dt>Transcript ID:</dt>
      <dd>{{ item.transcript }}</dd>
      <dt>gDNA: </dt>
      <dd>{{ item.gDNA }}</dd>
      <dt>cDNA: </dt>
      <dd>{{ item.cDNA }}</dd>
      <dt>protein: </dt>
      <dd>{{ item.protein }}</dd>
      <dt>Coding effect</dt>
      <dd>{{ item.codingEffect }}</dd>
      <dt>Variant location:</dt>
      <dd>{{ item.varLocation }}</dd>
      <dt>Exon:</dt>
      <dd>{{ item.exons }}</dd>
      <dt>Splice sites:</dt>
      <dd>{{ item.localSpliceEffect }}</dd>
      <dt>dbSNP clin sign:</dt>
      <dd>{{ item.rsClinicalSignificance }}</dd>
      <dt>dbSNP ID:</dt>
      <dd>{{ item.rsId }}</dd>
    </dl>
  </div>
  <div class="col-md-6">
    <dl class="dl-horizontal">
      <dt>HGMD ID:</dt>
      <dd>{{ item.hgmdId}}</dd>
      <dt>HGMD Phenotype</dt>
      <dd>{{ item.hgmdPhenotype}}</dd>
      <dt>Clinvar phenotype:</dt>
      <dd>{{ item.clinVarPhenotypes}}</dd>
      <dt>Clinvar phenotypes</dt>
      <dd>{{ item.clinVarPhenotypes}}</dd>
      <dt>Clinvar significance:</dt>
      <dd>{{ item.clinVarClinSignifs}}</dd>
      <dt>Exac All:</dt>
      <dd>{{ item.exacAll}}</dd>
      <dt>ExaC NFEfreq:</dt>
      <dd>{{ item.exacNFEFreq}}</dd>
      <dt>ESP EA MAF:</dt>
      <dd>{{ item. espEAMAF}}</dd>
      <dt>espAltEACount:</dt>
      <dd>{{ item.espAltEACount}}</dd>
      <dt>espRefEACount:</dt>
      <dd>{{ item.espRefEACount}}</dd>
      <dt>Conserved orthos:</dt>
      <dd>{{ item.conservedOrthos }}</dd>
      <dt>AGVGD:</dt>
      <dd>{{ item.AGVGDclass }}</dd>
      <dt>SIFT:</dt>
      <dd>{{ item.SIFTprediction }}</dd>
      <dt>Mutationtaster:</dt>
      <dd>{{ item.TASTERprediction }}</dd>
      <dt>Inhouse class:</dt>
      <dd>{{ item.inclass }}</dd>
      <dt>Signed:</dt>
      <dd>{{ item.signed }}</dd>
      <dt>Seen @ MGM</dt>
      <dd>{{ item.concat|safe }}</dd>
      <dt><i>Denovo</i> status</dt>
      <dd>{{ item.denovo }}</dd>
      <dt>Polyphen</dt>
      <dd>Kommer!</dd>
    </dl>
  </div>
</div>
<!-- publications-->
<div class="row">
<div class="col-md-12">
<dl class="dl-horizontal" style="border: 2px solid black">
<dt>Publications:</dt>
<dd name="pub">{{ item.publications|safe }}</dd>
</dl>
</div>
</div>
<!-- -->
<div class="row">
<div class="col-sm-4">
<table class="table table-striped" id="data_2">
  <thead>
    <tr>
      <th>Algorithm</th>
      <th>wt</th>
      <th>mut</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>MaxEnt</td>
      <td id="wtMaxEntScore">{{ item.wtMaxEntScore }}</td>
      <td id="varMaxEntScore">{{ item.varMaxEntScore }}</td>
    </tr>
    <tr>
      <td>NNSPLICE</td>
      <td id="wtNNSScore">{{ item.wtNNSScore }}</td>
      <td id="varNNSScore">{{ item.varNNSScore }}</td>
    </tr>
    <tr>
      <td>HSF</td>
      <td id="wtHSFScore">{{ item.wtHSFScore }}</td>
      <td id="varHSFScore">{{ item.varHSFScore }}</td>
    </tr>
  </tbody>
</table>
</div>
<div class="col-sm-4">

</div>
<div class="col-sm-4">
<dl class="dl-horizontal" style="border: 2px solid black">
      <dt>Inhouse class:</dt>
      <dd>{{ item.inclass }}</dd>
      <dt>ACMG class:</dt>
      <dd> {{ item.acmg_class }} </dd>
      <dt>Interpreted by:</dt>
      <dd> {{ item.interpretor }} </dd>
      <dt>Date:</dt>
      <dd> {{ item.signed }} </dd>
</dl>
<dt>Comments:</dt>
<dd>{{ item.comments }}</dd>
</div>
</div>
</div>
</div>


{% endfor %}
<div class="jumbotron container-fluid">
<p>Signature:</p>
<small>Comments:</small>
</div>
<!--
On the bottom of the page, the comment pr patient should be displayed, and a field for the geneticist to enter initials and comments


-->

</div>
{% endblock %}
