{% extends 'base.html' %}
{% block content %}


<script type="text/javascript">
{% include 'showdb.js' %}
</script>


<div class="container">
	<div class="row">
   <div class="col-md-10">
     <h1>Interpretation window for: {{ pID }}</h1>
   </div>
 </div>
 <div class="row">
  <div class="col-sm-5">
   <dl class="dl-horizontal">
    <dt>Patient ID</dt>
    <dd>{{ pID_patient.PID }}</dd>
    <dt>Family ID</dt>
    <dd>{{ pID_patient.familyID }}</dd>
    <dt>Panel</dt>
    <dd>{{ pID_patient.panel_name }}</dd>
    <dt>Disease category</dt>
    <dd>{{ pID_patient.disease_category }}</dd>
    <dt>Sex</dt>
    <dd>{{ pID_patient.sex }}</dd>
    <dt>SBS</dt>
    <dd>Kommer!</dd>
    <dt>Clinical info</dt>
    <dd>{{ pID_patient.clinInfo }}</dd>
  </dl>
</div>
<div class="col-sm-7">
 <table class="table" id="data">
  <thead>
    <tr>
      <th style="padding-top: 1px;">Mean Target<br>coverage</th>
      <th style="padding-top: 4px;">% bases > 20 X</th>
      <th style="padding-top: 4px;" class="tooltip-table-header" >% bases > 30 X</th>
      <th style="padding-top: 4px;" class="tooltip-table-header" >Mean insert size</th>
      <th style="padding-top: 4px;" class="tooltip-table-header" >Median insert size</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ pID_patient.mean_target_cov }}</td>
      <td>{{ pID_patient.pct_target_20 }}</td>
      <td>{{ pID_patient.pct_target_30 }}</td>
      <td>{{ pID_patient.mean_is }}</td>
      <td>{{ pID_patient.median_is }}</td>
    </tr>
  </tbody>
</table>
</div>
</div>
<div class="row">
  <div class="col-sm-1">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pID_Modal">edit patient info</button>
  </div>
  <div class="col-sm-1 col-sm-offset-10">
    <a href="{{ url_for('report') }}/{{ pID }}">
    <button type="button" class="btn btn-primary">Produce report</button>
    </a>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-6" >
    <h4>Comment regarding this interpretation/analysis:</h4>
    <form action="{{ url_for('showdb') }}/{{ pID }}" method=POST enctype="multipart/form-data">
      {{ iform.hidden_tag() }}
      <fieldset class="form-group">
        {{ iform.comment(class="form-control", placeholder="This should fill with info is a comment is already present", rows="20") }}
      </fieldset>
      <fieldset class="form-group">
        {{ iform.submit(class="btn btn-primary") }}
      </fieldset>
      </div>
      <div class="col-sm-5">
      <h4>Filtus settings:</h4>
      {{ iform.filtus_settings(class="form-control", placeholder="This should fill with settings info if a comment is already present", rows="20") }}
      </div>
    </form>
</div>
<div class="row"><hr></div>


<div id="variant_table_div" class="row">
  <div class="col-lg-12">
  <h3>Table of variants</h3>
  {{ var_table }}
 </div>
</div>

<br>
<div class="row">
  <div class="col-sm-2">
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Enter variant</button>
  </div>
  <!-- Modal:Enter variant -->
  {% include 'enter_variant_modal.html' %}
  <!-- Modal -->
  <!-- Modal:Patient info -->
  {% include 'patient_info_modal.html' %}
  <!-- Modal -->
  <!-- Modal:Variant_interp_info -->
  {% include 'variant_interp_modal.html' %}
  <!-- Modal -->
</div>
</br></br></br>
</div>
{% endblock %}
