{% extends 'base.html' %}
{% block content %}

<!-- Choose a row of a table and use some method on it. In this case, change background color. -->
<script type=text/javascript>
  $(function() {
    // fill comment if exists:
    $('#comment').val('{{ patient_comment[0] | replace("\r\n", "\\n") }}')
    $('#filtus_settings').html(' {{ patient_comment[1] | replace("\r\n", "\\n")    }}' )
    //autoadjust size according to text within
    $('#filtus_settings').autosize();
    // hide ID col of table
    $('#variant_table td:nth-child(1),th:nth-child(1)').hide();
    // hide signed col of table
    $('#variant_table td:nth-child(14),th:nth-child(14)').hide();
    //tooltip on classes form selector
    $('#inhouse_class').tooltip({'trigger':'focus', 'title': 'Inhouse Class', 'placement': 'right'});
    $('#acmg_class').tooltip({'trigger':'focus', 'title': 'ACMG Class', 'placement': 'right'});
  
  
   //Check if a ref & alt is letter as opposed to -. And also check if length == 1. This would mean missense.
 function isOneLetter(str) {
  return str.length === 1 && str.match(/[a-z]/i);
}
function isLetter(str) {
  return str.match(/[a-z]/i);
}
// Check if variant is:
// missense
// del
// insertion
// duplication -> get_alamut
$('#get_alamut').click(function () {
  var chrom = $('#chrom').val()
  var start = $('#start').val()
  var stop = $('#stop').val()
  var ref = $('#ref').val()
  var alt = $('#alt').val()
  var assembly = "(GRCh37)"
  var alamut_request = "" 
// Get input 
if (isOneLetter(ref) && isOneLetter(alt)) {
  var alamut_request = "chr" + chrom  +assembly + ":g." + start + ref + ">" + alt
} else if (isLetter(ref) && isLetter(alt) !== true) {
  var alamut_request = "chr" + chrom + assembly + ":g." + start + "_" + stop + "del"
} else if ( isLetter(ref) !== true && isLetter(alt)) {
  var alamut_request = "chr" + chrom + assembly + ":g." + start + "_" + stop + "ins" + alt
}  
 $.getJSON("http://localhost:10000/show?request=" + alamut_request + "&synchronous=true", function(result){
    $.ajax({
      type: "POST",
      contentType: "application/json; charset=utf-8",
      url: "/showdb/" + '{{ pID }}',
      data: JSON.stringify(result),
      success: function (data) {
        alert("ferdig " + chrom +"-"+ start +" "+ stop +" "+ ref +" "+ alt)
      },
      dataType: "json"
    });
  });     
});
  //on click of: submitcDNARequest get value from: cDNARequest
  $('#submitcDNARequest').click(function () {
    var alamut_request_cDNA = $('#cDNARequest').val()
  // maa testes
  $.getJSON("http://localhost:10000/show?request=" + alamut_request_cDNA + "&synchronous=true", function(result){
    $.ajax({
      type: "POST",
      contentType: "application/json; charset=utf-8",
      url: "/showdb/" + '{{ pID }}',
      data: JSON.stringify(result),
      success: function (data) {
        alert("ferdig " + chrom +"-"+ start +" "+ stop +" "+ ref +" "+ alt)
      },
      dataType: "json"
    });
  }); 
});
  //Then run request
  //fill the patient info modal with info on the specific patient in case you want to alter some values.
  $('#pID_Modal').on('shown.bs.modal', function (e) {
    $('#sex').val('{{ pID_patient.sex }}');
    $('#panel').val('{{ pID_patient.panel_name }}');
    $('#clinInfo').val('{{ pID_patient.clinInfo }}');
    $('#familyID').val('{{ pID_patient.familyID }}');
    $('#hsmFileUpload').val('{{ pID_patient.hsmFileUpload }}');
    $('#fragmentSizeUpload').val('{{ pID_patient.fragmentSizeUpload }}');
  })
//get from variant table @ click:
$('#variant_table tr').click(function () {
  var ID = $(this).closest("tr").find('td:eq(0)').text();
  var chrom = $(this).closest("tr").find('td:eq(1)').text();
  var start = $(this).closest("tr").find('td:eq(2)').text();
  var stop = $(this).closest("tr").find('td:eq(3)').text();
  var ref = $(this).closest("tr").find('td:eq(4)').text();
  var alt = $(this).closest("tr").find('td:eq(5)').text();
  var zyg = $(this).closest("tr").find('td:eq(6)').text()
  var comments = $(this).closest("tr").find('td:eq(12)').text()

  $('#agene').text('')
  $('#atrans').text('')
  $('#agDNA').text('')
  $('#aprot').text('')
  $('#atype').text('')
  $('#ahgmd').text('')
  $('#adbsnp').text('')
  $('#a1kg').text('')
  $('#aESP').text('')
  $('#aExac').text('')
  $('aProtDom').text('')
  //alamut variables:
  $.getJSON($SCRIPT_ROOT + '/_return_alamut_for_variant', {
    id: parseInt(ID)
  }, function(data) {
    $('#agene').text(data.gene)
    $('#atrans').text(data.transcript)
    $('#agDNA').text(data.gNomen)
    $('#acDNA').text(data.cNomen)
    $('#aprot').text(data.pNomen)
    $('#atype').text(data.codingEffect)
    $('#hgmdId').text(data.hgmdId)
    $('#hgmdPhenotype').text(data.hgmdPhenotype)
    $('#hgmdSubCategory').text(data.hgmdSubCategory)
    $('#clinVarPhenotypes').text(data.clinVarPhenotypes)
    $('#adbsnp').text(data.rsId)
    $('#a1kg').text(data.rsMAF)
    $('#aESP').text(data.espAllMAF+ "(" + data.espAltAllCount + "/" + data.espRefAllCount + ")" )
    $('#aExac').text(data.exacAllFreq + "(" + data.exacAlleleCount + ")" )
    $('#aProtDom1').text(data.proteinDomain1)
    $('#aProtDom2').text(data.proteinDomain2)
    $('#aProtDom3').text(data.proteinDomain3)
    $('#Exon').text(data.exon)
    $('#alaclass').text(data.pathogenicityClass)
    $('#granthamDist').text(data.granthamDist)
    $('#comments').val(comments)
    $('#pub2varID').val(ID)
    $('#zygo').text(zyg)
    $('#mgmseen').text('Kommer!')
    $('funcStud').text('Kommer!')
    $('#varLocation').text(data.varLocation)  
    $('#localSpliceEffect').text(data.localSpliceEffect)
    $('#rsClinicalSignificance').text(data.rsClinicalSignificance)
    $('#exacNFEFreq').text(data.exacNFEFreq)
    $('#espEAMAF').text(data.espEAMAF + "(" + data.espAltEACount + ")" + data.espRefEACount)
    $('#clinVarClinSignifs').text(data.clinVarClinSignifs)
    $('#conservedOrthos').text(data.conservedOrthos)
    $('#AGVDclass').text(data.AGVGDclass)
    $('#SIFTPrediction').text(data.SIFTprediction)
    $('#TASTERprediction').text(data.TASTERprediction)
    // only show if present
    if (data.publications) {
        $('#pubs').show()
        $('#pubsTitle').show()
        $('#pubs').html(data.publications)
    }  else {
        $('#pubs').hide()
        $('#pubsTitle').hide()
    }    
    // Set to 0 if empty:
    if (data.wtMaxEntScore) {
        $('#wtMaxEntScore').html(data.wtMaxEntScore)
    } else {
        $('#wtMaxEntScore').html(0)
    }
    if (data.varMaxEntScore) {
        $('#varMaxEntScore').html(data.varMaxEntScore)
    } else {
        $('#varMaxEntScore').html(0)
    }
    if (data.wtNNSScore) {
       $('#wtNNSScore').html(data.wtNNSScore)
    } else {
        $('#wtNNSScore').html(0)
    }
    if (data.varNNSScore) {
        $('#varNNSScore').html(data.varNNSScore)
    } else {
        $('#varNNSScore').html(0)
    }
    if (data.wtHSFScore) {
       $('#wtHSFScore').html(data.wtHSFScore)
    } else {
        $('#wtHSFScore').html(0)
    }if (data.varHSFScore) {
        $('#varHSFScore').html(data.varHSFScore)
    } else {
        $('#varHSFScore').html(0)
    }
  });
  console.log("test")
  //$('.variant_info').html(chrom + " " + start + " " + stop);
  $('#Interp_Modal').modal('show');
  $('#varid').val(String(chrom)+'|'+String(start)+'|'+String(stop)+'|'+String(ref)+'|'+String(alt))
  //alert(chr + "|"+ start+ "|"+stop+ "|"+ref+ "|"+alt)
});
});
</script>
<div class="container">
	<div class="row">
   <div class="col-md-10">        
     <h1>Interpretation window for: {{ pID }}</h1>
   </div>
 </div>
 <div class="row">
  <div class="col-sm-5">
   <dl class="dl-horizontal">
    <dt>Patient ID</dt>
    <dd>{{ pID_patient.PID }}</dd>
    <dt>Family ID</dt>
    <dd>{{ pID_patient.familyID }}</dd>
    <dt>Panel</dt>
    <dd>{{ pID_patient.panel_name }}</dd>
    <dt>Disease categor</dt>
    <dd>{{ pID_patient.disease_category }}</dd>
    <dt>Sex</dt>
    <dd>{{ pID_patient.sex }}</dd>
    <dt>Clinical info</dt>
    <dd>{{ pID_patient.clinInfo }}</dd>
  </dl>
</div>
<div class="col-sm-7">
 <table class="table" id="data">
  <thead>
    <tr>
      <th style="padding-top: 4px;">Mean Target <br>Coverage</th>
      <th style="padding-top: 4px; width=50%;">% bases > 20 X</th>
      <th style="padding-top: 4px;" class="tooltip-table-header" >% bases > 30 X</th>
      <th style="padding-top: 4px;" class="tooltip-table-header" >Mean insert size</th>
      <th style="padding-top: 4px;" class="tooltip-table-header" >Median insert size</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ pID_patient.mean_target_cov }}</td>
      <td>{{ pID_patient.pct_target_20 }}</td>
      <td>{{ pID_patient.pct_target_30 }}</td>
      <td>{{ pID_patient.mean_is }}</td>
      <td>{{ pID_patient.median_is }}</td>
    </tr>
  </tbody>
</table>
</div>
</div>
<div class="row">
  <div class="col-sm-1">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pID_Modal">edit patient info</button> 
  </div>
  <div class="col-sm-1 col-sm-offset-10">
    <a href="{{ url_for('report') }}/{{ pID }}">
    <button type="button" class="btn btn-primary">Produce report</button> 
    </a>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-6" >
    <h4>Comment regarding this interpretation/analysis:</h4>
    <form action="{{ url_for('showdb') }}/{{ pID }}" method=POST enctype="multipart/form-data">
      {{ iform.hidden_tag() }}
      <fieldset class="form-group">
        {{ iform.comment(class="form-control", placeholder="This should fill with info is a comment is already present") }}
      </fieldset>
      <fieldset class="form-group">
        {{ iform.submit(class="btn btn-primary") }}
      </fieldset>
      </div>
      <div class="col-sm-5">
      <h4>Filtus settings:</h4>
      {{ iform.filtus_settings(class="form-control", placeholder="This should fill with settings info if a comment is already present") }}
      </div>
    </form>
</div>
<div class="row"><hr></div>
<div class="row">
  <div class="col-md-12"> 
  <h3>Table of variants</h3>
  {{ var_table }}
 </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Enter variant</button>
  </div>
  <!-- Modal:Enter variant -->
  {% include 'enter_variant_modal.html' %}
  <!-- Modal -->
  <!-- Modal:Patient info -->
  {% include 'patient_info_modal.html' %}
  <!-- Modal -->
  <!-- Modal:Variant_interp_info -->
  {% include 'variant_interp_modal.html' %}
  <!-- Modal -->
</div>
</br></br></br>
</div>
{% endblock %}