{% extends 'base.html' %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="row">
  <div class="alert alert-info" role="alert">{{ message }}</div>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="container">
<div class="row">

        <h1>Patient info</h1>

        <form action="{{ url_for('testinput') }}" method=POST enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="col-sm-3">
            <fieldset class="form-group">
                {{ form.patient_ID.label }}
                {{ form.patient_ID(class="form-control", placeholder="Patient ID") }}
            </fieldset>
            <fieldset class="form-group">
                {{ form.sex.label }}
                {{ form.sex(class="form-control") }}
            </fieldset>
            <fieldset class="form-group">
                {{ form.hsmFileUpload.label }}
                {{ form.hsmFileUpload(class="Load hsmetrics-file") }}
                <small class="text-muted">Load a hsmetrics-file containing QC-info for the sample.</small>
            </fieldset>
            </div>
            <div class="col-sm-3">
            <fieldset class="form-group">
                {{ form.familyID.label }}
                {{ form.familyID(class="form-control", placeholder="Family ID") }}
            </fieldset>
            <fieldset class="form-group">
                {{ form.panel.label }}
                {{ form.panel(class="form-control") }}
            </fieldset>
            <fieldset class="form-group">
                {{ form.dis_category.label }}
                {{ form.dis_category(class="form-control") }}
            </fieldset>
            <fieldset class="form-group">
                {{ form.fragmentSizeUpload.label }}
                {{ form.fragmentSizeUpload(class="Load fragment size file") }}
                <small class="text-muted">Load a file containing fragment sizes for the sample.</small>
            </fieldset>
            </div>
            <div class="col-sm-6">

            <fieldset class="form-group">
                {{ form.clinInfo.label }}
                {{ form.clinInfo(class="form-control", placeholder="Enter clinical info about the patient") }}
            </fieldset>
            </div>
    </div>

            {{ form.submit(class="btn btn-primary") }}
        </form>

</div>
{% endblock %}
